<div class="col-md-offset-1 col-md-10 list" id="<%= @list.id %>">
	<h1><%= @list.name %></h1>

	<p>What percentage of top posts would you like to see from each account?</p>
	
	<input 
		id="topTweetLimit" 
		data-slider-id='topTweetLimitSlider' 
		type="text" 
		data-slider-min="1" 
		data-slider-max="100" 
		data-slider-step="1" 
		data-slider-value="14"/>

	<% @list.twitter_accounts.each do |account| %>
		<div class="well card-table">
			<div class="account-card" id="<%= account.handle %>">
 				<div class="account-avatar">
 					<img src="<%= account.avatar_url %>" class="avatar">
 				</div>
 				<div class="account-details">
 					<div class="account-name">
 						<p><%= account.name %>
 						</p>
 					</div>
 					<div class="account-screenname">
 						<em><%= account.handle %>
 						</em>
 					</div>
 				</div>
 			</div>
			<div class="account-top-tweets">
			</div>
		</div>
	<% end %>

	<%= link_to "Add tweets to buffer queue for #{ @buffer_profile.formatted_username }", "#", class: "btn btn-default", id: "bufferTweets", onClick: "bufferTweets(); event.preventDefault();" %>

	<%= link_to "Add Twitter Account", { controller: "twitter_accounts", action: "new", list_id: @list.id } %>
</div>

<%= javascript_include_tag "show_list" %>

