<!DOCTYPE html>
<html>
<head>
  <title>Socialite</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %> <%= action_name %>">
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <%= link_to "Socialite", root_path, class: "navbar-brand" %>
	    </div>
	    <div class="navbar-right">
		    <% if user_signed_in? %>
				  <%= link_to("Logout of #{current_user.email}", destroy_user_session_path) %>        
				<% else %>
				  <%= link_to('Login', new_user_session_path, class: 'btn' ) %>  
				<% end %>
			</div>
	  </div>
	</nav>
 	<%= render 'layouts/messages' %>
	<%= yield %>
	<%= render 'marketing/footer' %>
</body>
